button {
	display: block;
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	outline: none;
	box-sizing: content-box;
	-webkit-tap-highlight-color: transparent;
}

input {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	outline: none;
	box-sizing: content-box;
}

textarea {
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	outline: none;
	box-sizing: content-box;
}