.header {
	width: 100%;
	height: 100px;

	position: relative;
	top: 0;
	margin: -1px;

	background-color: #e9e9e9;
}

.header__inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.logo {
	width: 31px;

	position: absolute;
	left: 7.17%;
	top: 38%;

	overflow: hidden;
}

.logo__img {
	width: 100%;
}

.navbar {
	width: calc(100% - 7.17% - 31px - 0.73% - 5.85%);
	
	position: absolute;
	right: 5.85%;
	top: 40%;

	text-align: right;

	cursor: default;
}

.nav__item {
	display: inline-block;
	margin: 0 1.3%;

	font-family: Montserrat, sans-serif;
	font-size: 0.75rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #272727;

	-webkit-transition: transform 150ms, color 150ms;
	   -moz-transition: transform 150ms, color 150ms;
	    -ms-transition: transform 150ms, color 150ms;
	     -o-transition: transform 150ms, color 150ms;
	        transition: transform 150ms, color 150ms;
}

.nav__item:hover, .nav__item_active {
	color: #10c9c3;
	transform: scale(1.1);
}

.nav__item:active {
	transition: none;
	color: #0da5a0;
	transform: scale(1);
}

.nav__item:focus {
	transition: none;
}