button {
	display: block;
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	outline: none;
	box-sizing: content-box;
	-webkit-tap-highlight-color: transparent;

	-webkit-appearance: none;
	   -moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
			appearance: none;
}