.beginning {
	width: 100%;
	background: #c4d0d0 url("../images/home-bgd.jpg") no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
		-ms-background-size: auto 100%;
		 -o-background-size: auto 100%;
		    background-size: auto 100%;
}

@media (max-width: 1320px) and (max-height: 1100px) {
	.beginning {
	-webkit-background-size: auto 1100px;
	   -moz-background-size: auto 1100px;
		-ms-background-size: auto 1100px;
		 -o-background-size: auto 1100px;
		    background-size: auto 1100px;
	}
}


/* HEADER */

.header {
	width: 100%;
	height: 100px;

	position: relative;
	top: 0;
	margin: -1px;

	background-color: #e9e9e9;
}

.header__inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.logo {
	width: 31px;

	position: absolute;
	left: 7.17%;
	top: 38%;

	overflow: hidden;
}

.logo__img {
	width: 100%;
}

.navbar {
	width: calc(100% - 7.17% - 31px - 0.73% - 5.85%);
	
	position: absolute;
	right: 5.85%;
	top: 40%;

	text-align: right;

	cursor: default;
}

.nav__item {
	display: inline-block;
	margin: 0 1.3%;

	font-family: Montserrat, sans-serif;
	font-size: 0.75rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #272727;

	-webkit-transition: transform 150ms, color 150ms;
	   -moz-transition: transform 150ms, color 150ms;
	    -ms-transition: transform 150ms, color 150ms;
	     -o-transition: transform 150ms, color 150ms;
	        transition: transform 150ms, color 150ms;
}

.nav__item:hover, .nav__item_active {
	color: #10c9c3;
	transform: scale(1.1);
}

.nav__item:active {
	transition: none;
	color: #0da5a0;
	transform: scale(1);
}

.nav__item:focus {
	transition: none;
}



/* HOME */

.home {
	width: 100%;
	height: calc(100vh - 100px);
	min-height: 490px;
	max-height: 120vw;

	position: relative;
	padding-top: 1px;
}

.home__content {
	width: 35.28%;
	min-width: 350px;
	position: absolute;
	right: 120px;
	top: 13.26%;
}

.home__heading {
	margin: 1.56rem 0;

	font-family: Montserrat, sans-serif;
	font-size: 2.375rem;
	line-height: 3rem;
	color: #1d1d1d;
}

.home__text {
	margin: 1rem 0;

	font-family: "Nunito Sans", sans-serif;
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: #787878;
}

.home__btn {
	display: block;
	width: 180px;
	height: 55px;

	margin-top: 2.18rem;

	background-color: #10c9c3;

	font-family: Montserrat, sans-serif;
	font-size: 0.75rem;
	line-height: 55px;
	text-align: center;
	color: white;
	text-decoration: none;
	text-transform: uppercase;

	-webkit-transition: box-shadow 150ms, transform 150ms;
	   -moz-transition: box-shadow 150ms, transform 150ms;
	    -ms-transition: box-shadow 150ms, transform 150ms;
	     -o-transition: box-shadow 150ms, transform 150ms;
	        transition: box-shadow 150ms, transform 150ms;
}

.home__btn:hover {
	-webkit-box-shadow: inset 0 0 8px -3px black;
	   -moz-box-shadow: inset 0 0 8px -3px black;
	    -ms-box-shadow: inset 0 0 8px -3px black;
	     -o-box-shadow: inset 0 0 8px -3px black;
			box-shadow: inset 0 0 8px -3px black;
			
	-webkit-transform: scale(0.96);
	   -moz-transform: scale(0.96);
		-ms-transform: scale(0.96);
		 -o-transform: scale(0.96);
			transform: scale(0.96);
}

.home__btn:active {
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
		 -o-transition: none;
			transition: none;
	
	-webkit-transform: scale(0.94);
	   -moz-transform: scale(0.94);
		-ms-transform: scale(0.94);
		 -o-transform: scale(0.94);
			transform: scale(0.94);
	
	background-color: #0da5a0;
}

.home__btn:focus {
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
		 -o-transition: none;
			transition: none;
}